/* código omitido */

body {
  background-color: #1D4221;
  color: white;
}
font-family: "Bai Jamjuree", sans-serif;
/* código omitido */

body {
  background-color: #1D4221;
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
}

button {
  background-color: #64A712;
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background-color: #1D4221;
}


body {
  background-color: #1D4221;
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;
}

button {
  background-color: #64A712;
  color: white;
  font-family: "Bai Jamjuree", sans-serif;
}
body {
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #FF6347; /* Cor do texto */
}

body {
  background-color: #E6E6FA; /* Cor de fundo */
}
